[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
smbus2 = "*"
numpy = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "python3 -m unittest test/test_robot.py"
